.cardcontainer section {
 display: flex;
 flex-wrap: wrap;
 justify-self: center;
}

.teste {
 display: flex;
 flex-wrap: wrap;
}

.cardcontainer img {
 transform: translateY(-40px);
 max-width: 100%;
 margin-right: 10px;
}

.cards {
 position: relative;
}

.cardcontainer span {
 position: absolute;
 z-index: 100;
 top: 80%;
 left: 60%;
 transform: translate(-50%, -50%);
 font-size: 2rem;
 color: white;
 width: 90%;
 font-weight: bolder;
}

@media (max-width: 1237px) {
 .teste {
  justify-content: center;
 }

 .cardcontainer img {
  margin-block: 30px;
  transform: translateY(0);
 }
}