.explore {
  background-image: url('../../assets/images/beach-image-1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  color: #fff;
}

.explore section {
  display: flex;
}

.explore h1 {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 10px;
}

.explore h2 {
  font-size: 4rem;
  font-weight: lighter;
  margin-bottom: 20px;
}

.explore button {
  padding: 18px 30px;
  outline: 2px solid #fff;
  color: #fff;
  font-size: 1rem;
  transition:
    background 0.3s,
    outline 0.3s,
    color 0.3s;
}

.explore button:hover {
  background-color: #57bd8c;
  outline-color: #57bd8c;
}

@media (max-width: 605px) {
  .explore {
    text-align: center;
    background-position: left;
    height: 100vh;
  }
  .explore h1 {
    font-size: 100%;
  }
}
