.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #162e44;
  color: #fff;
  padding: 20px;
  font-size: 1.3rem;
}

@media (max-width: 584px) {
  .footer div {
    width: 350px;
  }
}
